.fade-in-animation-container {
  opacity: 1;
  margin-bottom: 560px;
}

.fade-in-animation {
  opacity: 0;
  animation: fade-in 0.9s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3); 
}