/* Global styles */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #444;
  background-color: #f5f5f5;
}

a {
  color: #1da1f2;
}

a:hover {
  color: #0d6efd;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}






/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  header img {
    height: 70px;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  header nav li {
    margin: 0 20px;
    font-size: 20px;
  }
  
  header nav a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  header nav a:hover {
    color: #ff6f61;
  }
  








/* Main content styles */
main {
  padding: 4rem 0;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.list-inline-item {
  margin-right: 1.5rem;
}





/* Logo styles */
img {
  max-width: 100%;
  height: auto;
  margin-top: 3rem;
}







/* Social media icon styles */
.list-inline-item a i {
  color: #222;
  transition: all 0.3s ease;
}

.list-inline-item a:hover i {
  color: #1da1f2;
}






/* Media queries */
@media (min-width: 992px) {
  .navbar-nav {
    margin-top: 0;
    margin-left: auto;
  }

  .nav-item {
    margin-left: 30px;
  }
}
